img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    
}
img[src=""] { display: none; }
.barImages{
 
    width:  400px;
    height: 400px;
    
    
    
}

ReactStars{
  pointer-events: none;
}
.reviews{
    display: flex;
    flex-direction: column;
    border : solid 2px rgba(139, 139, 139, 0.5)
    
}
.title{
  padding-left: 35px;
}
.reviewTrueOrFalse{
  padding-left: 35px;
}

.reviews>button{
    width:50px;
    vertical-align: middle;
    
    
}
.reviews{
  padding-left: 35px;
}
.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    
    height:100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    transform: translate(16%, 3%);
    
  }
  /* Buttons */
.slideshowDots {
    text-align: center;
  }
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
  }
  
.slideshowDot.active {
    background-color: #ff5900;
  }