img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    
}
img[src=""] { display: none; }
.barImages{
    display: flex;
}
.reviews{
    display: flex;
    flex-direction: column;
    
}


.reviews>button{
    width:50px;
    vertical-align: middle;
    
}