.barList{
    
    color:rgb(255, 255, 255);
   
    
}

.links{color:rgb(255, 255, 255)}
.images{
    background: url(https://cdn.pixabay.com/photo/2018/03/03/03/22/alcohol-3194824_960_720.jpg) no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.box{
    background: rgba(235, 93, 11, 0.9);
    width: 300px;
    height: 435px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: -25px;
    padding-bottom: 77px;
    text-align: center;
    margin-left: 525px;
    margin-right: 525px;
    margin-top: 59px;
    position: fixed;
}

